@if(TempData["success"]!= null) 
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script>
    toastr.success('@TempData["success"]');
    </script>
}
@if(TempData["error"]!= null) 
{
    <span class="">@TempData["error"]</span>
}